RESETS
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: 3px dashed #228bec;
  outline-offset: 0;
}
html {
  font: 62.5% / 1.15 sans-serif;
}
h1,
h2 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
input[type="text"] {
  border-radius: 0;
}
body {
  font: 1.6rem/1.25 Arial, sans-serif;
  background-color: #f5f5f5;
  color: #4d4d4d;
}
@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}
/*END RESETS*/
/* GLOBAL STYLES */
div#game {
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;

  margin-top: 10rem;
}

div#game canvas {
  border: medium solid black;

  background-image: url(assets/jumperpack_kenney/PNG/Background/bg_layer1.png);
}

body {
  overflow-y: hidden;
}

button[disabled] {
  color: grey;
}

div#ui {
  float: right;

  padding: 2rem;

  border: medium solid black;
}

div#ui h1:first-child {
  margin-top: 0;
}

div#ui button {
  border: solid;
  padding: 1rem;
  margin: 0.5rem;

  cursor: pointer;
}

div#ui button[aria-pressed=true] {
  border: solid;
  background: #4d4d4d;
  color: #f5f5f5;
}
